#background #page #body #content .body .content ul.section li .game .world-game-left
	{
	margin: 0;
	float: left;
}

#background #page #body #content .body .content ul.section li .game .world-game-right
	{
	margin: 0;
	float: right;
}#background #page #body #content .body .content ul.section li .game .world-game-left
	{
	margin: 0;
	float: left;
}

#background #page #body #content .body .content ul.section li .game .world-game-right
	{
	margin: 0;
	float: right;
}