/* GENERAL */
body {
	margin: 0;
	padding: 0;
	background: url("../images/bg-body.gif");
	background-position: top;
	background-repeat: repeat-x;
	background-color: #f0f0f0;
	font-family: "Ubuntu Light", Candara, Arial;
}

#background {
	background-position: bottom;
	background-repeat: repeat-x;
	min-height: 600px;
}

#background #page {
	background: url("../images/clouds.jpg");
	background-position: center top;
	background-repeat: repeat-x;
	min-height: 600px;
}

#background #page #body {
	width: 960px;
	margin: 0 auto 25px;
	overflow: hidden;
}

/* SIDE BAR */
#background #page #body #basic-sidebar {
	width: 328px;
	overflow: hidden;
	float: left;
	background: url("../images/bg-basic-sidebar.jpg");
	background-position: top;
	background-repeat: repeat-x;
}

#background #page #body #default-sidebar {
	width: 328px;
	overflow: hidden;
	float: left;
	background: url("../images/bg-section-sidebar-blank.jpg");
	background-position: top;
	background-repeat: repeat-x;
}

#background #page #body #basic-sidebar ul,#background #page #body #default-sidebar ul
	{
	margin: 32px 0 0 70px;
	padding: 0;
	list-style: none;
}

#background #page #body #basic-sidebar ul li,#background #page #body #default-sidebar ul li
	{
	font-family: "Purisa", "Comic Sans MS", Arial;
	width: 210px;
	height: 110px;
	margin: 30px 0 0 0;
	line-height: 110px;
	text-align: center;
}

#background #page #body #basic-sidebar ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #542f06;
	display: block;
	line-height: 25px;
	padding-top: 10px;
	outline: 0;
}

#background #page #body #basic-sidebar ul li a:hover {
	color: #542f06;
}

#background #page #body #basic-sidebar ul li a span {
	display: block;
}

/* SECTION SIDEBAR */
#background #page #body #section-sidebar {
	width: 328px;
	height: 1110px;
	float: left;
	background: url("../images/bg-section-sidebar.jpg");
	background-position: top;
	background-repeat: repeat-x;
}

#background #page #body #section-sidebar .connect {
	font-family: "Purisa", "Comic Sans MS", Arial;
	width: 210px;
	height: 110px;
	margin: 35px 0 0 70px;
	line-height: 110px;
	text-align: center;
}

#background #page #body #section-sidebar .connect a {
	font-size: 20px;
	text-decoration: none;
	color: #542f06;
	display: block;
	line-height: 25px;
	padding-top: 10px;
	outline: 0;
}

#background #page #body #section-sidebar .section {
	/*margin:120px 0 0 100px;*/
	width: 200px;
	padding: 30px 64px 0 64px;
}

#background #page #body #section-sidebar .section h2 {
	font-size: 24px;
	color: #542f06;
	font-weight: normal;
	width: 200px;
	margin: 0;
	padding: 0 0 0 25px;
}

#background #page #body #section-sidebar .section ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 35px;
	width: 200px;
}

#background #page #body #section-sidebar .section ul li a {
	color: #542f06;
	text-decoration: none;
	font-size: 20px;
}

#background #page #body #section-sidebar .section ul li ul {
	width: auto;
	padding: 0 0 0 20px;
}

#background #page #body #section-sidebar .section ul li ul li {
	margin: 5px 0;
}

#background #page #body #section-sidebar .section ul li {
	margin: 5px 0;
}

#background #page #body #section-sidebar .section ul li ul li a {
	color: #4e3b26;
	text-decoration: none;
	font-size: 16px;
	font-style: normal;
}

#background #page #body #section-sidebar .section ul li ul li a:hover {
	color: #4e3b26;
}

#background #page #body #section-sidebar .section ul li ul li a span {
	color: #9d5507;
}

/* CONTENT */
#background #page #body #content {
	width: 632px;
	float: left;
	overflow: hidden;
}

/* HEADER */
#background #page #body #content #header {
	width: 632px;
	height: 61px;
	padding-top: 50px;
	position: relative;
}

#background #page #body #content #header ul.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 10px;
}

#background #page #body #content #header ul.navigation li {
	float: left;
	height: 50px;
	line-height: 50px;
	background: url("../images/menu-separator.gif") no-repeat scroll left
		center;
	padding: 0 2px;
}

#background #page #body #content #header ul.navigation li.first {
	background: none;
}

#background #page #body #content #header ul.navigation li a {
	display: block;
	text-decoration: none;
	color: #2f360b;
	padding: 0 25px;
	font-size: 14px;
}

#background #page #body #content #header ul.navigation li a:hover {
	background: url("../images/bg-menu-hover.gif") no-repeat scroll center
		center;
	display: block;
	text-decoration: none;
	color: #84aa01;
	font-size: 14px;
}

#background #page #body #content #header ul.navigation li a.active {
	background: url("../images/bg-menu-hover.gif") no-repeat scroll center
		center;
	display: block;
	text-decoration: none;
	color: #84aa01;
	font-size: 14px;
}

/* CONTENT */
#background #page #body #content .body {
	width: 632px;
}

#background #page #body #content .body .content {
	font-size: 14px;
	padding: 10px 10px 0px 10px;
	width: 612px;
	color: #809997;
}

#background #page #body #content .body .content p {
	font-size: 14px;
	width: 612px;
	color: #809997;
	line-height: 25px;
}

#background #page #body #content .body .content p a {
	color: #809997;
}

#background #page #body #content .body .content p a:hover {
	color: #75bab4;
}

#background #page #body #content .body .content h2 {
	font-family: "Purisa", "Comic Sans MS", Arial;
	color: #7e8a00;
	font-size: 40px;
	margin: 0 0 20px 0;
	font-weight: normal;
	text-align: center;
}

#background #page #body #content .body .content h3 {
	font-family: "Purisa", "Comic Sans MS", Arial;
	color: #7e8a00;
	font-size: 20px;
	margin: 0 0 20px 0;
	font-weight: bold;
	text-align: left;
}

#background #page #body #content .body .content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#background #page #body #content .body .content ul li {
	margin: 0;
	padding: 0;
}

#background #page #body #content .body .content ul li p {
	font-size: 18px;
	line-height: 24px;
	color: #999999;
	margin-top: 0;
	text-align: justify;
}

#background #page #body #content p.important {
	color: #542f06;
	font-weight: bold;
	text-align: right;
}

#background #page #body #content p.important a {
	color: #542f06;
	font-weight: bold;
	text-align: right;
	text-decoration: none;
}

#background #page #body #content .body .content ul li p a {
	color: #999999;
}

#background #page #body #content .body .content ul li p span {
	display: block;
}

#background #page #body #content .body .content ul li p a:hover {
	color: #75bab4;
}

#background #page #body #content .body .content ul li ul {
	margin: 0 0 0 80px;
	padding: 0;
}

#background #page #body #content .body .content ul li h4 {
	font-size: 20px;
	line-height: 24px;
	color: #553410;
	margin: 20px 0 0 0;
	font-weight: normal;
}

#background #page #body #content .body .content ul li ul a {
	text-decoration: none;
	font-size: 14px;
	color: #809997;
}

#background #page #body #content .body .content ul li h4 a {
	font-size: 20px;
	color: #553410;
	text-decoration: none;
}

#background #page #body #content .body .content ul li h4 a:hover {
	color: #553410;
}

#background #page #body #content .body .content ul li ul li {
	height: 25px;
	margin: 0;
	padding: 0;
}

#background #page #body #content .body .content ul {
	margin: 0;
	padding: 0;
}

#background #page #body #content .body .content ul.section {
	margin: 0 0 15px 0;
	overflow: hidden;
}

#background #page #body #content .body .content ul.section p {
	margin: 0 0 30px 0;
	overflow: hidden;
	padding: 0 30px;
	width: 540px;
}

#background #page #body #content .body .content ul.section li {
	padding-bottom: 0;
	margin: 0;
	font-size: 16px;
}

#background #page #body #content .body .content ul.section li h1 {
	color: #4E83AE;
	font-weight: normal;
	font-size: 18px;
	background-image: url("../images/bg-heading.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 610px;
	height: 92px;
}

#background #page #body #content .body .content ul.section li h1 span {
	position: relative;
	top: -18px;
	left: 16px;
	width: 60px;
	display: inline-block;
	text-align: center;
	color: #8b7b0e;
}

#background #page #body #content .body .content ul.section li h1 a {
	font-weight: normal;
	text-decoration: none;
	color: #553410;
	font-size: 18px;
	margin: 0 0 0 50px;
	position: relative;
	top: 0;
	height: 24px;
	line-height: 115px;
	width: 300px;
}

#background #page #body #content .body .content ul.section li div.images
	{
	text-align: center;
	margin-bottom: 10px;
}

#background #page #body #content .body .content ul.section li div.information
	{
	text-align: justify;
	margin-bottom: 10px;
	font-size: 16px;
	color: #404040;
}

#background #page #body #content .body .content ul.section li div.bibliography
	{
	text-align: justify;
	margin-bottom: 10px;
	font-size: 12px;
	color: #404040;
	font-style: italic;
}

#background #page #body #content .body .content ul.section li div.information h4
	{
	text-align: center;
}

#background #page #body #content .body .content ul.section li div.information.center
	{
	text-align: center;
}

#background #page #body #content .body .content ul.section li h2 {
	color: #4E83AE;
	font-weight: normal;
	font-size: 18px;
	background-image: url("../images/bg-option.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	margin: 0;
	padding: 0;
}

#background #page #body #content .body .content ul.section li h2 a {
	font-weight: normal;
	text-decoration: none;
	color: #553410;
	font-size: 18px;
	margin: 0;
	height: 24px;
	line-height: 3;
	width: 300px;
}

#background #page #body #content .body .content a.previous {
	position: relative;
	left: 0px;
	top: -20px;
	display: inline-block;
	text-decoration: none;
	color: #8b7b0e;
}

#background #page #body #content .body .content a.next {
	position: relative;
	left: 480px;
	top: -20px;
	display: inline-block;
	text-decoration: none;
	color: #8b7b0e;
}

#background #page #body #content .body .content ul li a.more {
	text-decoration: none;
	color: #ff9000;
	font-size: 14px;
	margin-left: 80px;
}

#background #page #body #content .body .content ul li ul li a {
	color: #809997;
	font-size: 12px;
	line-height: 24px;
}

#background #page #body #content .body .content ul li ul li a:hover {
	color: #75bab4;
}

#background #page #body #content .body .content ul li ul li a:hover span
	{
	color: #75bab4;
}

#background #page #body #content .body .content ul li ul li a span {
	color: #809997;
	font-size: 12px;
}

/* FORM */
#background #page #body #content form label span {
	display: block;
}

#background #page #body #content form label input {
	background: url("../images/input.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 270px;
	padding: 9px 5px;
	line-height: 31px;
	border: 0;
	color: #809997;
	font-size: 14px;
	line-height: 25px;
}

#background #page #body #content form {
	margin: 30px 0 50px 0;
}

#background #page #body #content form label {
	display: block;
	margin-bottom: 20px;
}

#background #page #body #content form label textarea {
	background: url("../images/bg-textarea.jpg");
	background-position: bottom center;
	background-repeat: no-repeat;
	width: 590px;
	padding: 5px 5px;
	height: 438px;
	border: 0;
	color: #809997;
	font-size: 14px;
	line-height: 25px;
}

#background #page #body #content form input[type="submit"] {
	background: url("../images/button-submit.gif");
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 30px;
	width: 110px;
	border: 0;
	cursor: pointer;
}

/* FOOTER */
#background #page #footer {
	width: 100%;
	background: url("../images/bg-footer2.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	height: 120px;
}

#background #page #footer .footnote {
	width: 960px;
	margin: 0 auto;
	padding-top: 60px;
	text-align: center;
	color: #ffb500;
	font-size: 14px;
	text-align: center;
}

#background #page #footer .footnote a {
	text-decoration: none;
	color: #ffb500;
}

#background #page #footer .footnote a:hover {
	color: #75bab4;
}

/* TABLE */
.table {
	margin: 0% 20%;
}

.table table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #DDDDDD;
	text-align: center;
}

.table th {
	font-weight: bold;
	border: 1px solid #DDDDDD;
}

.table td {
	border: 1px solid #DDDDDD;
}

.question {
	margin: 20px 0px;
	text-align: justify;
	font-size: 16px;
	color: #404040;
}

/* FORM */
input,select,textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}

button,input {
	*overflow: visible;
	line-height: normal;
}

button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	cursor: pointer;
	-webkit-appearance: button;
}

label,select,button,input[type="button"],input[type="reset"],input[type="submit"],input[type="radio"],input[type="checkbox"]
	{
	cursor: pointer;
}

input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button
	{
	-webkit-appearance: none;
}

select,textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	display: inline-block;
	height: 20px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input,textarea,.uneditable-input {
	width: 206px;
}

textarea {
	height: auto;
}

textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input
	{
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus
	{
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

input[type="radio"],input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	*margin-top: 0;
	line-height: normal;
}

input[type="file"],input[type="image"],input[type="submit"],input[type="reset"],input[type="button"],input[type="radio"],input[type="checkbox"]
	{
	width: auto;
}

select,input[type="file"] {
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 30px;
}

select {
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

select[multiple],select[size] {
	height: auto;
}

select:focus,input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus
	{
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.uneditable-input,.uneditable-textarea {
	color: #999999;
	cursor: not-allowed;
	background-color: #fcfcfc;
	border-color: #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
	overflow: hidden;
	white-space: nowrap;
}

.uneditable-textarea {
	width: auto;
	height: auto;
}

input:-moz-placeholder,textarea:-moz-placeholder {
	color: #999999;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999999;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999999;
}

.radio,.checkbox {
	min-height: 20px;
	padding-left: 20px;
}

.radio input[type="radio"],.checkbox input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}

.controls>.radio:first-child,.controls>.checkbox:first-child {
	padding-top: 5px;
}

.radio.inline,.checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.radio.inline+.radio.inline,.checkbox.inline+.checkbox.inline {
	margin-left: 10px;
}

.input-mini {
	width: 60px;
}

.input-small {
	width: 90px;
}

.input-medium {
	width: 150px;
}

.input-large {
	width: 210px;
}

.input-xlarge {
	width: 270px;
}

.input-xxlarge {
	width: 530px;
}

input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"]
	{
	float: none;
	margin-left: 0;
}

.input-append input[class*="span"],.input-append .uneditable-input[class*="span"],.input-prepend input[class*="span"],.input-prepend .uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"],.row-fluid .input-prepend [class*="span"],.row-fluid .input-append [class*="span"]
	{
	display: inline-block;
}

input,textarea,.uneditable-input {
	margin-left: 0;
}

.controls-row [class*="span"]+[class*="span"] {
	margin-left: 20px;
}

input.span12,textarea.span12,.uneditable-input.span12 {
	width: 926px;
}

input.span11,textarea.span11,.uneditable-input.span11 {
	width: 846px;
}

input.span10,textarea.span10,.uneditable-input.span10 {
	width: 766px;
}

input.span9,textarea.span9,.uneditable-input.span9 {
	width: 686px;
}

input.span8,textarea.span8,.uneditable-input.span8 {
	width: 606px;
}

input.span7,textarea.span7,.uneditable-input.span7 {
	width: 526px;
}

input.span6,textarea.span6,.uneditable-input.span6 {
	width: 446px;
}

input.span5,textarea.span5,.uneditable-input.span5 {
	width: 366px;
}

input.span4,textarea.span4,.uneditable-input.span4 {
	width: 286px;
}

input.span3,textarea.span3,.uneditable-input.span3 {
	width: 206px;
}

input.span2,textarea.span2,.uneditable-input.span2 {
	width: 126px;
}

input.span1,textarea.span1,.uneditable-input.span1 {
	width: 46px;
}

.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.alert-error h4 {
	color: #b94a48;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.alert-success h4 {
	color: #468847;
}